.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.login-card {
  width: 80%;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.image-section,
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 确保对齐 */
  height: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-section {
  padding: 50px;
}

.login-section h3 {
  font-size: 24px;
  /* 增加题头字体大小 */
  font-weight: bold;
  /* 加粗题头 */
  margin-bottom: 20px;
  /* 增加下边距 */
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 按钮和表单对齐 */
  height: calc(100% - 70px);
  /* 减去标题和一些额外的空间 */
}

.custom-font {
  width: 100%;
  /* 确保和表单一样宽 */
}

.uniform-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.uniform-margin {
  margin-bottom: 20px;
  /* 设置统一的下边距 */
}

.header {
  font-size: 28px;
  /* 增大字体 */
  font-weight: bold;
  /* 加粗字体 */
  text-align: center;
  /* 居中对齐 */
  margin-bottom: 10px;
  /* 下边距 */
}

/* 添加统一的下边距 */
.uniform-margin {
  margin-bottom: 20px;
}